<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>DASHBOARD DEVOLUCIONES</title>

        <!-- 📊 Plotly -->
        <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>

        <!-- 🎯 CSS -->
        <link rel="stylesheet" href="/static/css/devoluciones.css">
    </head>

    <body>
        <div id="loading"
            style="display:none; text-align:center; padding:30px; font-size:20px;">
            ⏳ Cargando dashboard...
        </div>

        <div class="dashboard-container">

            <h2 class="titulo">📊 DASHBOARD DE DEVOLUCIONES</h2>

            <!-- 🎯 FILTROS -->
            <div class="filtros">
                <select id="year"></select>
                <select id="month"><option value>Mes</option></select>
                <select id="day"><option value>Día</option></select>

                <select id="producto"><option value>Producto</option></select>
                <select id="comentario"><option
                        value>Comentario</option></select>
                <select id="resultado"><option value>Resultado</option></select>

                <button onclick="cargar()">Filtrar</button>
                <button onclick="resetFiltros()">Limpiar</button>
            </div>

            <!-- 🔥 KPIs -->
            <div class="kpis" id="kpis"></div>

            <!-- 📊 GRÁFICOS -->
            <div class="charts">
                <div id="line"></div>
                <div id="resultado_pie"></div>
                <div id="producto_pie"></div>
                <div id="comentario_bar"></div>
            </div>

        </div>

        <script>

// =========================
// 🎯 FILTROS FECHA
// =========================
async function cargarFiltros(){
    let res = await fetch("/devoluciones/filtros");
    let data = await res.json();

    let yearSelect = document.getElementById("year");
    yearSelect.innerHTML = "";

    data.years.forEach(y => yearSelect.add(new Option(y, y)));

    yearSelect.onchange = async () => {
        await cargarMeses();
        await cargar();
    };

    await cargarMeses();
}

async function cargarMeses(){
    let year = document.getElementById("year").value;

    let res = await fetch(`/devoluciones/meses?year=${year}`);
    let data = await res.json();

    let monthSelect = document.getElementById("month");
    monthSelect.innerHTML = `<option value="">Mes</option>`;

    data.months.forEach(m => monthSelect.add(new Option(m, m)));

    monthSelect.onchange = async () => {
        await cargarDias();
        await cargar();
    };

    await cargarDias();
}

async function cargarDias(){
    let year = document.getElementById("year").value;
    let month = document.getElementById("month").value;

    let res = await fetch(`/devoluciones/dias?year=${year}&month=${month}`);
    let data = await res.json();

    let daySelect = document.getElementById("day");
    daySelect.innerHTML = `<option value="">Día</option>`;

    data.days.forEach(d => daySelect.add(new Option(d, d)));

    daySelect.onchange = async () => cargar();
}

// =========================
// 🎯 CATÁLOGOS
// =========================
async function cargarCatalogos(){
    let res = await fetch("/devoluciones/data_full");
    let data = await res.json();

    let productoSel = document.getElementById("producto");
    let comentarioSel = document.getElementById("comentario");
    let resultadoSel = document.getElementById("resultado");

    productoSel.innerHTML = `<option value="">Producto</option>`;
    comentarioSel.innerHTML = `<option value="">Comentario</option>`;
    resultadoSel.innerHTML = `<option value="">Resultado</option>`;

    [...new Set(data.map(x => x.PRODUCTO))].forEach(x => productoSel.add(new Option(x,x)));
    [...new Set(data.map(x => x.COMENTARIO))].forEach(x => comentarioSel.add(new Option(x,x)));
    [...new Set(data.map(x => x.RESULTADO_NC))].forEach(x => resultadoSel.add(new Option(x,x)));

    productoSel.onchange = cargar;
    comentarioSel.onchange = cargar;
    resultadoSel.onchange = cargar;
}

// =========================
// 📊 DATA
// =========================
async function cargar(){
    
    document.getElementById("loading").style.display = "block";
    document.getElementById("kpis").style.display = "none";
    document.querySelector(".charts").style.display = "none";
    
    let year = document.getElementById("year").value;
    let month = document.getElementById("month").value;
    let day = document.getElementById("day").value;

    let producto = document.getElementById("producto").value;
    let comentario = document.getElementById("comentario").value;
    let resultado = document.getElementById("resultado").value;

    let res = await fetch(`/devoluciones/data?year=${year}&month=${month}&day=${day}&producto=${producto}&comentario=${comentario}&resultado=${resultado}`);
    let data = await res.json();

    // =========================
    // 🔥 KPIs
    // =========================

    // =========================
// 🔥 KPIs
// =========================

    let total = data.kpis.total_registros || 0;
    let monto = data.kpis.total_monto || 0;

    let ok = data.kpis.ok || 0;
    let nok = data.kpis.nok || 0;

    let pctOK = data.kpis.porc_ok || 0;
    let pctNOK = data.kpis.porc_nok || 0;

    // SUCCESS - MONTO
    let successMonto = data.resultado
        .filter(x => String(x.RESULTADO_NC).toUpperCase().includes("SUCCESS"))
        .reduce((a, b) => a + Number(b.MONTO_SOLES || 0), 0);

    // REJECT - MONTO
    let rejectMonto = data.resultado
        .filter(x => String(x.RESULTADO_NC).toUpperCase().includes("REJECT"))
        .reduce((a, b) => a + Number(b.MONTO_SOLES || 0), 0);

    // SUCCESS - CANTIDAD
    let successCant = data.resultado
        .filter(x => String(x.RESULTADO_NC).toUpperCase().includes("SUCCESS"))
        .reduce((a, b) => a + Number(b.TOT_CANT_REGISTROS || 0), 0);

    // REJECT - CANTIDAD
    let rejectCant = data.resultado
        .filter(x => String(x.RESULTADO_NC).toUpperCase().includes("REJECT"))
        .reduce((a, b) => a + Number(b.TOT_CANT_REGISTROS || 0), 0);

    // Porcentaje por cantidad
    let totalSRCant = successCant + rejectCant;

    let pctSuccess = totalSRCant
        ? ((successCant / totalSRCant) * 100).toFixed(1)
        : 0;

    let pctReject = totalSRCant
        ? ((rejectCant / totalSRCant) * 100).toFixed(1)
        : 0;
    // =========================
    // 🔥 POSTPAGO / PREPAGO
    // =========================

    let candidatosOK = Array.isArray(data.pie) ? data.pie : [];

    let postpago = candidatosOK
        .filter(x => String(x.PRODUCTO || "").toUpperCase().includes("POST"))
        .reduce((a,b) => a + Number(b.TOT_CANT_REGISTROS || 0), 0);

    let prepago = candidatosOK
        .filter(x => String(x.PRODUCTO || "").toUpperCase().includes("PRE"))
        .reduce((a,b) => a + Number(b.TOT_CANT_REGISTROS || 0), 0);

    document.getElementById("kpis").innerHTML = `
    <div class="card kpi-card">
            <h4>TOTAL</h4>
            <h2>${total.toLocaleString()}</h2>
        </div>

        <div class="card kpi-card">
            <h4>MONTO (S/.)</h4>
            <h2>S/ ${monto.toLocaleString()}</h2>
        </div>

        <div class="card kpi-card">
            <h4>CANDIDATOS</h4>

            <div class="kpi-split">
                <div class="kpi-main ok">
                    ${ok.toLocaleString()}
                </div>

                <div class="kpi-detail">
                    <div><strong>Postpago: ${postpago.toLocaleString()}</strong></div>
                    <div><strong>Prepago : ${prepago.toLocaleString()}</strong></div>
                </div>
            </div>

            <small>${pctOK}%</small>
        </div>        

        <div class="card kpi-card">
            <h4>CANDIDATOS (POSTPAGO)</h4>
            <div class="sr-row">
                <span class="success-label">✔ Success</span>
                <span class="sr-value">
                    <b> ${successCant.toLocaleString()} reg |
                    S/ ${successMonto.toLocaleString()}</b>
                    <small>(${pctSuccess}%)</small>
                </span>
            </div>

            <div class="sr-row">
                <span class="reject-label">✖ Reject</span>
                <span class="sr-value">
                    <b>${rejectCant.toLocaleString()} reg |
                    S/ ${rejectMonto.toLocaleString()}</b>
                    <small>(${pctReject}%)</small>
                </span>
            </div>
        </div>

        <div class="card kpi-card">
            <h4>EXCLUIDO POR CRITERIOS</h4>
            <h2 class="nok">${nok.toLocaleString()}</h2>
            <small>${pctNOK}%</small>
        </div>
    `;
    
    // =========================
    // 📈 GRÁFICOS
    // =========================
    // LINEA
    let tendencia = Array.isArray(data.tendencia) ? data.tendencia : [];

    if (tendencia.length <= 1) {

        Plotly.react('line', [{
            x: tendencia.map(x => x.FECHA_STR),
            y: tendencia.map(x => Number(x.TOT_CANT_REGISTROS || 0)),
            type: 'bar',
            text: tendencia.map(x => Number(x.TOT_CANT_REGISTROS || 0).toLocaleString()),
            textposition: 'auto',
            customdata: tendencia.map(x => [
                Number(x.MONTO_SOLES || 0).toLocaleString()
            ]),
            hovertemplate:
                '<b>Fecha: %{x}</b><br>' +
                'Cantidad: %{y}<br>' +
                'Monto: S/ %{customdata[0]}<extra></extra>'
        }], {
            title: "Tendencia de Candidatos",
            yaxis: { title: "Cantidad de Registros" },
            xaxis: { title: "Fecha" }
        });

    } else {

        Plotly.react('line', [{
            x: tendencia.map(x => x.FECHA_STR),
            y: tendencia.map(x => Number(x.TOT_CANT_REGISTROS || 0)),
            type: 'scatter',
            mode: 'lines+markers+text',
            text: tendencia.map(x => Number(x.TOT_CANT_REGISTROS || 0).toLocaleString()),
            textposition: 'top center',
            customdata: tendencia.map(x => [
                Number(x.MONTO_SOLES || 0).toLocaleString()
            ]),
            hovertemplate:
                '<b>Fecha: %{x}</b><br>' +
                'Cantidad: %{y}<br>' +
                'Monto: S/ %{customdata[0]}<extra></extra>'
        }], {
            title: "Tendencia de Candidatos",
            yaxis: { title: "Cantidad de Registros" },
            xaxis: { title: "Fecha" },
            hovermode: 'x unified'
        });

    }

    // TORTA OK vs NOK
    let resultadoAjustes = data.resultado
    .filter(x => String(x.RESULTADO_NC || "").trim() !== "");

    Plotly.react('resultado_pie', [{
        labels: resultadoAjustes.map(x => x.RESULTADO_NC),
        values: resultadoAjustes.map(x => Number(x.MONTO_SOLES || 0)),
        customdata: resultadoAjustes.map(x => [
            Number(x.TOT_CANT_REGISTROS || 0).toLocaleString()
        ]),
        type: 'pie',
        hole: 0.4,
        hovertemplate:
            '<b>%{label}</b><br>' +
            'Cantidad: %{customdata[0]}<br>' +
            'Monto: S/ %{value:,.2f}<br>' +            
            'Porcentaje: %{percent}<extra></extra>'
    }], {title: "CANDIDATOS AJUSTES"});

    // TORTA PRODUCTO
    Plotly.react('producto_pie', [{
        labels: data.producto.map(x => x.PRODUCTO),
        values: data.producto.map(x => Number(x.MONTO_SOLES || 0)),
        customdata: data.producto.map(x => [
            Number(x.TOT_CANT_REGISTROS || 0).toLocaleString()
        ]),
        type: 'pie',
        hovertemplate:
            '<b>%{label}</b><br>' +
            'Cantidad: %{customdata[0]}<br>' +
            'Monto: S/ %{value:,.2f}<br>' +            
            'Porcentaje: %{percent}<extra></extra>'
    }], {title: "Producto"});
    
    // BARRA COMENTARIO POR CANTIDAD
    let comentarios = Array.isArray(data.comentario) ? [...data.comentario] : [];

    comentarios = comentarios.sort((a,b) =>
        Number(b.TOT_CANT_REGISTROS || 0) - Number(a.TOT_CANT_REGISTROS || 0)
    );

    Plotly.react('comentario_bar', [{
        y: comentarios.map(x => String(x.COMENTARIO || "")),
        x: comentarios.map(x => Number(x.TOT_CANT_REGISTROS || 0)),
        type: 'bar',
        orientation: 'h',

        text: comentarios.map(x =>
            `${Number(x.TOT_CANT_REGISTROS || 0).toLocaleString()} | S/ ${Number(x.MONTO_SOLES || 0).toLocaleString()}`
        ),
        textposition: 'auto',

        customdata: comentarios.map(x => [
            x.COMENTARIO,
            Number(x.TOT_CANT_REGISTROS || 0).toLocaleString(),
            Number(x.MONTO_SOLES || 0).toLocaleString()
        ]),

        hovertemplate:
            '<b>%{customdata[0]}</b><br>' +
            'Cantidad: %{customdata[1]}<br>' +
            'Monto: S/ %{customdata[2]}<extra></extra>'

    }], {
        title: "Comentarios",
        margin: { l: 280, r: 40, t: 50, b: 50 },
        xaxis: { title: "Cantidad" },
        yaxis: { automargin: true },
        height: Math.max(400, comentarios.length * 45)
    });


    document.getElementById("loading").style.display = "none";
    document.getElementById("kpis").style.display = "grid";
    document.querySelector(".charts").style.display = "grid";
}

// =========================
// 🧹 LIMPIAR
// =========================
function resetFiltros(){
    document.querySelectorAll("select").forEach(s => s.selectedIndex = 0);
    cargar();
}

// INIT
(async () => {
    document.getElementById("loading").style.display = "block";
    document.getElementById("kpis").style.display = "none";
    document.querySelector(".charts").style.display = "none";

    await cargarFiltros();
    await cargarCatalogos();
    await cargar();
})();

</script>

    </body>
</html>