<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regulatorio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Barra superior -->
    <header class="topbar">
    <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="Logo de la empresa" class="logo" style="width: 95px;">
    <div class="topbar-title">TABLERO REGULATORIO</div>

    <!-- 🔔 Campanita de notificaciones -->
    <div class="notification-container">
        <div class="notification-bell" id="notificationBell">
            🔔
            <span class="notification-count" id="notificationCount">3</span>
        </div>

        <!-- Panel desplegable -->
        <div class="notification-panel hidden" id="notificationPanel">
            <h4>Notificaciones</h4>
            <ul id="notificationList">                
            </ul>
        </div>
    </div>
</header>

    <!-- Botón para mostrar barra -->
    <div class="menu-toggle hidden" onclick="mostrarSidebar()">☰</div>

    <!-- Zona sensible para hover -->
    <div class="sidebar-trigger"></div>

    <!-- Contenedor principal -->
    <div class="main-container">
        <!-- Barra lateral -->
        <nav class="sidebar hidden">
            <div class="sidebar-header">
                <h2><a href="#" onclick="location.reload();">🏠 Inicio</a></h2>
            </div>
            <ul class="sidebar-menu">
                <li><a href="#" onclick="ocultarSidebar(); cargarContenido('/calendario')">📅 Calendario</a></li>

                <li class="submenu">
                    <a href="#" class="submenu-toggle">🖥️ Monitoreo</a>
                    <ul class="submenu-content" style="display: none;">
                        <li><a href="#" onclick="ocultarSidebar(); cargarContenido('/reportes')">📊 Reportes</a></li>
                        <li><a href="#" onclick="ocultarSidebar(); cargarContenido('/input')">📊 Inputs</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class="submenu-toggle">✅ Calidad del dato</a>
                    <ul class="submenu-content" style="display: none;">
                        <li><a href="#" onclick="ocultarSidebar(); cargarContenido('/caracteres')">📍 Datos extraños</a></li>
                    </ul>
                </li>

               <li class="submenu">
    <a href="#" class="submenu-toggle">📈 Tendencias</a>

    <ul class="submenu-content" style="display: none;">
        <li>
            <a href="#" onclick="ocultarSidebar(); cargarContenido('/tendencias_plantas')">
                🌱 Plantas
            </a>
        </li>

        <li>
            <a href="#" onclick="ocultarSidebar(); cargarContenido('/tendencias_reportes')">
                📄 Reportes
            </a>
        </li>
    </ul>
</li>
                <li class="submenu">
                    <a href="#" class="submenu-toggle"> 📊 Dashboards</a>
                    <ul class="submenu-content" style="display: none;">                                                
                        <li><a href="#" onclick="ocultarSidebar(); cargarContenido('/devoluciones')">📍 Devoluciones</a></li>
                    </ul>
                </li>                                   

                <li class="submenu">
                    <a href="#" class="submenu-toggle">📘Documentación</a>
                    <ul class="submenu-content" style="display: none;">                        
                        <li><a href="{{ url_for('documentacion.crear') }}">➕ Crear Documento</a></li>
                        <li><a href="{{ url_for('documentacion.listar') }}">📚 Documentación</a></li>
                    </ul>
                </li>

            <li class="submenu">
                <a href="#" class="submenu-toggle">⚙️ Ejecuciones</a>
                <ul class="submenu-content" style="display: none;">                    
                    <li>
                        <a href="https://dj-bi-qsynthetix-dev-nirvana-qa.apps.ocptest.gp.inet/execute/" 
                                target="_blank" 
                                rel="noopener noreferrer" 
                                onclick="ocultarSidebar();">
                                🤖 Semiautomáticas
                            </a> 
                    </li>
                </ul>
            </li>
            <li>
                    <a href="#" onclick="ocultarSidebar(); cargarContenido('/chatbox')">💬 Chatbox (Beta)</a>
            </li>            
            </ul>
        </nav>

        <!-- Contenido principal -->
        <main class="content">
            <div id="contenido">
                <h2>Bienvenido al tablero Regulatorio</h2>
                <p>Explora las diferentes opciones disponibles:</p>
                <div class="cards-container">
                    <div class="card" onclick="cargarContenido('/calendario')">
                        <h3>📅 Calendario</h3>
                        <p>Consulta fechas clave y eventos importantes.</p>
                    </div>
                    <div class="card" onclick="cargarContenido('/reportes')">
                        <h3>🖥️ Monitoreo</h3>
                        <p>Supervisa la ejecución de reportes y procesos.</p>
                    </div>
                    <div class="card" onclick="cargarContenido('/caracteres')">
                        <h3> 🧾 Calidad del dato</h3>
                        <p>Analiza y valida la integridad de los datos.</p>
                    </div>
                    <div class="card" onclick="cargarContenido('/tendencias')">
                        <h3>📈📊 Tendencias</h3>
                        <p>Analiza las tendencias de los datos.</p>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Script principal -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        function ocultarSidebar() {
            $('.sidebar').addClass('hidden');
            $('.menu-toggle').removeClass('hidden');
        }

        function mostrarSidebar() {
            $('.sidebar').removeClass('hidden');
            $('.menu-toggle').addClass('hidden');
        }

        $(document).ready(function () {
            $('.sidebar').removeClass('hidden');

            // Mostrar con mouse en borde izquierdo
            $('.sidebar-trigger').on('mouseenter', function () {
                mostrarSidebar();
            });

            $('.menu-toggle').click(function () {
                mostrarSidebar();
            });

            $('.sidebar').on('mouseleave', function () {
                ocultarSidebar();
            });

            $(document).click(function (event) {
                const isClickInsideSidebar = $(event.target).closest('.sidebar').length;
                const isClickOnToggle = $(event.target).closest('.menu-toggle').length;

                if (!isClickInsideSidebar && !isClickOnToggle && !$('.sidebar').hasClass('hidden')) {
                    ocultarSidebar();
                }
            });

            $('.sidebar').click(function (event) {
                event.stopPropagation();
            });

            // Submenús
            $('.submenu-toggle').click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                const submenu = $(this).next('.submenu-content');
                $('.submenu-content').not(submenu).slideUp(); // cerrar los demás
                submenu.stop(true, true).slideToggle(); // abrir este
            });
        });
    </script>
</body>
</html>
